# --- Python ---
# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# --- Node / Frontend ---
node_modules/
build/
dist/
npm-debug.log*

# --- OS / System files ---
.DS_Store
Thumbs.db

# --- IDE / Editor ---
.vscode/
.idea/

# --- Logs ---
*.log

# --- Misc ---
*.sqlite3